* {
  font-family: fantasy;
}

body {
  background: url("img/desertcamo.jpg");
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: row;
  background-color: darkolivegreen;
  justify-items: center;
  align-items: center;
  height: 4vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

header a {
  text-decoration: none;
  color: black;
}

#logo {
  font-size: 4vw;
  text-shadow: 3px 1px wheat;
  width: 50%;
  padding-left: 10vw;
}

#logo img {
  width: 10%;
}

nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  align-content: space-evenly;
}

nav img {
  width: 2vw;
}

#nav_element {
  display: flex;
  flex-direction: row;
}

.nav_element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  font-size: 1vw;
}

.koszyk_wartosc {
  font-size: 2vw;
  flex-shrink: 0;
  text-align: center;
  min-width: 7vw;
  max-width: 7vw;
}

.menu {
  width: 30vw;
  display: flex;
  align-items: center;
}

.dropbtn {
  background-color: darkolivegreen;
  border: none;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px wheat;
  font-size: 2vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  width: 11vw;
  height: 4vw;
}

.dropbtn img {
  width: 4vw;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: olive;
  width: 100%;
  text-shadow: 1px 1px wheat;
  font-size: 1.5vw;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: olive;
}

.dropdown-content a:hover {
  background-color: darkolivegreen;
}

.dropdown-content a {
  display: block;
  padding: 0.5vw 0.5vw 0.5vw 1vw;
}

footer {
  background-color: darkolivegreen;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

#koszyk_main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
}

#koszyk_zawartosc {
  background-color: wheat;
  width: 60%;
  height: 40vw;
  margin: 1vw 2vw 2vw 2vw;
}

#koszyk_podsumowanie {
  background-color: wheat;
  width: 30%;
  height: 40vw;
  margin: 1vw 2vw 2vw 2vw;
  display: flex;
  flex-direction: column;
}

.napis {
  background-color: wheat;
  margin: 5vw 2vw 0vw 2vw;
  font-size: 4vw;
}

#napisy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-evenly;
  text-align: center;
}

.koszyk_zawartosc_napis {
  width: 60%;
}

.koszyk_podsumowanie_napis {
  width: 30%;
}

.koszyk_element img {
  height: 6vw;
}

.koszyk_element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  height: 7vw;
  background-color: gray;
  margin: 1vw;
  text-align: center;

}

.koszyk_czesc {
  width: 20%;
}