* {
  font-family: fantasy;
}
body {
  background: url("desertcamo.jpg");
  background-attachment: fixed;
}
header {
  background-color: darkolivegreen;
  padding: 5px;
  text-align: center;
  text-shadow: 3px 1px wheat;
  border-radius: 0px 0px 0px 0px;
  border: 3px solid black;
}
header img {
  width: 20%;
}
.nazwa1 {
  width: 60%;
  font-size: 7vw;
}
.nazwa {
  background: url("desertcamo.jpg");
  border-radius: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: wheat;
  border-radius: 0px 0px 30px 30px;
  border: 3px solid black;
  border-top: none;
}
.menu {
  width: 20%;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dropbtn {
  background-color: wheat;
  border: none;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px wheat;
  font-size: 2vw;
  padding: 0px 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkgray;
  width: 100%;
  text-shadow: 1px 1px wheat;
  font-size: 1.5vw;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: darkgray;
}
.dropdown-content p:hover {
  background-color: gray;
}
#galeria img {
  width: 70vw;
  height: auto;
  border-radius: 20px;
}
#galeria {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: wheat;
  font-size: 2vw;
  padding: 30px;
  margin: 1vw;
  -webkit-text-stroke: 1px black;
  background: url("tlo.jpg");
  background-attachment: fixed;
  padding-bottom: 40px;
}
#galeria b {
  font-size: 250%;
  margin-bottom: 2%;
}
.galeriamain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.galeriamain button {
  border: none;
  background-color: rgb(118, 117, 117, 0.7);
  font-size: 3vw;
  text-align: center;
  margin: 5px;
}
footer {
  background-color: darkolivegreen;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
}

#popularne {
  background-color: wheat;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1vw 5vw 0vw 5vw;
}
.kontener {
  width: 36vw;
  height: 18vw;
  text-align: center;
  margin: 0.5vw;
  display: flex;
  background-color: whitesmoke;
}
.kontener_text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.kontener_text img {
  justify-self: center;
  position: absolute;
  opacity: 0.2;
  width: 80%;
}
.kontener_img {
  width: 50%;
}
#popularne p {
  font-size: 3vw;
  -webkit-text-stroke: 0.1vw whitesmoke;
}
.kontener_text img:hover {
  animation: skala12 0.5s ease forwards;
}
@keyframes skala12 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes skala11 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
.popularnenapis {
  background-color: wheat;
  text-align: center;
  margin: 5vw 5vw 1vw 5%;
  font-size: 5vw;
  text-shadow: 0.4vw 0.4vw white;
}
#nowosc_napis {
  background-color: wheat;
  text-align: center;
  margin: 5vw 5vw 1vw 5vw;
  font-size: 5vw;
  text-shadow: 0.4vw 0.4vw white;
}
#nowosci {
  background-color: wheat;
  width: auto;
  margin: 0vw 5vw 1vw 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 1vw 1vw 2vw 1vw;
}
#nowosci img {
  width: 16vw;
}
.nowosc:hover {
  animation: skala11 0.5s ease forwards;
  border: 0.3vw solid gray;
}
.nowosc {
  width: 18vw;
  background-color: white;
  margin: 1vw 0vw 0vw 1vw;
  padding: 1vw;
  display: inline-block;
  transform-origin: center d;
}
.nowosc_nazwa {
  height: 4vw;
  font-size: 2vw;
}
.nowosc_cena {
  font-size: 3vw;
  margin-bottom: 1vw;
  text-shadow: 0.2vw 0.2vw wheat;
}
.do_koszyka {
  width: 16vw;
  font-size: 1.5vw;
  padding: 0.5vw;
}
